<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <svg width="500" height="500">
        
        <!-- Soleil -->
        
        <circle cx="400" cy="80" r="30" fill="yellow" stroke="black" stroke-width="2"/>
        <line x1="400" y1="20" x2="400" y2="50" stroke="black" stroke-width="2"/>
        <line x1="400" y1="110" x2="400" y2="140" stroke="black" stroke-width="2"/>

        <!-- Nuages -->
        
        <ellipse cx="80" cy="60" rx="30" ry="15" fill="lightgray"/>
        <ellipse cx="110" cy="50" rx="25" ry="15" fill="lightgray"/>
        <ellipse cx="140" cy="60" rx="30" ry="15" fill="lightgray"/>

        <!-- Maison -->
        
        <rect x="150" y="200" width="200" height="200" fill="yellow" stroke="black" stroke-width="2"/>
        
        <!-- Toit -->
        <polygon points="150,200 250,100 350,200" fill="red" stroke="black" stroke-width="2"/>

        <!-- Cheminée -->
        <rect x="120" y="50" width="20" height="50" style="fill:red; stroke:black; stroke-width:2;" />
        <circle cx="130" cy="40" r="10" style="fill:rgba(200,200,200,0.7);" />
        <circle cx="140" cy="30" r="12" style="fill:rgba(200,200,200,0.7);" />
        
        <!-- Fenêtre toit -->
        <circle cx="250" cy="160" r="20" fill="lightblue" stroke="black" stroke-width="2"/>
        <line x1="180" y1="265" x2="230" y2="265" stroke="black" stroke-width="2"/>
        <line x1="205" y1="240" x2="205" y2="290" stroke="black" stroke-width="2"/>
        
        <!-- Porte -->
        <rect x="230" y="300" width="50" height="100" fill="orange" stroke="black" stroke-width="2"/>
        
        <!-- Fenêtre -->
        <rect x="180" y="240" width="50" height="50" fill="lightblue" stroke="black" stroke-width="2"/>
        <line x1="180" y1="265" x2="230" y2="265" stroke="black" stroke-width="2"/>
        <line x1="205" y1="240" x2="205" y2="290" stroke="black" stroke-width="2"/>
        
        <!-- Herbe -->
        <circle cx="100" cy="390" r="5" fill="red"/>
        <circle cx="110" cy="390" r="5" fill="yellow"/>
        <rect x="0" y="400" width="400" height="50" style="fill:green;" />

        <!-- Fleurs -->
        <circle cx="320" cy="420" r="7" fill="red"/>
        <circle cx="330" cy="415" r="7" fill="yellow"/>
        <rect x="327" y="425" width="6" height="15" fill="green"/>
    </svg>
</body>
</html>
