<html>
<head>


</head>
<body>
	<h1>Dresseur de Pokemon</h1>
<p> Les champs marqués d'une * sont obligatoires.</p>
<form action="#">
<fieldset>
<legend>Nouveau dresseur</legend>
<p>Nom : <input name="A" type="Text" value="Nom ?"/></p>
<p>Prénom : <input name="B" type="Text" value="Prénom ?"/></p>
</fieldset>
<p>Mr <input name="C" type="radio" value="Mr"/> 
Mme<input name="C" type="radio" value="Mme"/></p>
<p>
</br>

<p>Equipe </p>
<p><input name="D" type="checkbox" value="Rouge"/> Rouge </p>
<p><input name="E" type="checkbox" value="Jaune"/> Jaune </p>
<p><input name="F" type="checkbox" value="Bleu"/> Bleu</p>

<p>Anniversaire*</p> 
<p><input name="B" type="Text" value="jj/mm/aaaa"/></p>

<p><input type="submit" value="Envoyer" />

</p>
</fieldset>
<p>
<textarea rows="3" cols="30	" name="H">
Laisez nous un commentaire
</textarea>

</p>
<p><input type="submit" value="Envoyer" />
<input type="reset"/>
</p>


</form>

</body>
</html>
