<html>
<head>
<body>

    <h2>Image(s) à afficher ?</h2>
    <input type="checkbox" id="choix1"/>Image 1<br/>
    <input type="checkbox" id="choix2"/>Image 2<br/>
    <input type="checkbox" id="choix3"/>Image 3<br/></p>
    <button onclick="afficherImages()">Afficher</button>
    <div id="zone1"></div>


    <script>
      function afficherImages(){
	if(document.getElementById('choix1').checked){
		document.getElementById('image1').innerHTML = "<img src='../static/photo1.jpg' alt='Image 1' width='150'>";
	} else {
		document.getElementById('image1').innerHTML = "";
	}

	if(document.getElementById('choix2').checked){
		document.getElementById('image2').innerHTML = "<img src='../static/photo2.jpg' alt='Image 2' width='150'>";
	} else {
		document.getElementById('image2').innerHTML = "";
	}

	if(document.getElementById('choix3').checked){
		document.getElementById('image3').innerHTML = "<img src='../static/photo.jpg' alt='Image 3' width='150'>";
	} else {
		document.getElementById('image3').innerHTML = "";
	}
}
    </script>

</body>
</html>
