<html>
<head>
<body>

    <h2>Image(s) à afficher?</h2>
    <input type="checkbox" id="choix1"> Image 1<br/>
    <div id="image1"></div> 
    <input type="checkbox" id="choix2"> Image 2<br/>
    <div id="image2"></div>
    <input type="checkbox" id="choix3"> Image 3<br/>
    <div id="image3"></div> 
    <br/>
    <button onclick="afficherImages()">Afficher</button>

    <script>
      function afficherImages(){
	if(document.getElementById('choix1').checked){
		document.getElementById('image1').innerHTML = "<img src='../static/photo1.jpg' alt='Image 1' width='150'>";
	} else {
		document.getElementById('image1').innerHTML = "";
	}

	if(document.getElementById('choix2').checked){
		document.getElementById('image2').innerHTML = "<img src='../static/photo2.jpg' alt='Image 2' width='150'>";
	} else {
		document.getElementById('image2').innerHTML = "";
	}

	if(document.getElementById('choix3').checked){
		document.getElementById('image3').innerHTML = "<img src='../static/photo.jpg' alt='Image 3' width='150'>";
	} else {
		document.getElementById('image3').innerHTML = "";
	}
}
    </script>

</body>
</html>
