<html>
<head>
<body>

    <h2>Image(s) à afficher ?</h2>
    <input type="checkbox" id="pht1"> Image 1<br>
    <input type="checkbox" id="pht2"> Image 2<br>
    <input type="checkbox" id="pht3"> Image 3<br><br>

    <button onclick="afficherImages()">Afficher</button>

    <br><br>

    <!-- Les images avec un ID correspondant -->
    <img src="{{ url_for('static', filename='photo1.jpg') }}" alt="Du texte1">
    <img src="{{ url_for('static', filename='photo2.jpg') }}" alt="Du texte2">
    <img src="{{ url_for('static', filename='photo3.jpg') }}" alt="Du texte3">

    <script>
       function afficherImeges(){
       var Result="";
	        for(i=1;i<4;i++){
	        if(document.getElementById('choix'+i).checked){
       Result = Result+'<img width="150px" src="Image'+i+'.jpg"/><br/>';
		        }
	        }
       document.getElementById('zone1').innerHTML = Result;	
        }
    </script>

</body>
</html>
