from flask import Flask
from flask import render_template
from flask import json
import sqlite3
                                                                                                                                       
app = Flask(__name__) 
@app.route("/contact/")
def MaPremiereAPI():
    return render_template("contact.html")

@app.route('/cnam')
def cnam():
    return render_template('cnam.html')
                                                                                                                                       


<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mon site avec image</title>
</head>
<body>
    <h1>Bienvenue sur mon site!</h1>
    <img src="templates/cnam.html" alt="Mon Image">
</body>
</html>

if __name__ == "__main__":
  app.run(debug=True)
