<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    
    <title>Page 1</title>
</head>
<body>
    <h1><b>Titre de niveau 1.</b></h1>
    <h2><b>Titre de niveau 2.</b></h2>
    <h3><b>Titre de niveau 3.</b></h3>
    <h3><b>Titre de niveau 3.</b></h3>
    <h2><b>Titre de niveau 2.</b></h2>
    <h1><b>Titre de niveau 1.</b></h1>
    <p>Texte en <b>gras</b>, texte en <i>italique</i>, texte <u>souligné</u></p>
    <p>lien vers <a href="actualite.html">l'actualité</a>.</p>
    <p>Ecrivez-moi à <a href="mailto:spastore2@free.fr"> spastore2@free.fr</a> </p>
    <p>Liste des items :</p>
<ol>
    <li>item 1</li>
    <li>item 2 :
        <ul>
            <li>element 1</li>
            <li>element 2</li>
        </ul>
    </li>
    <li>item 3</li>
</ol>

<p>="bold">Voici la première partie:</p>
    table {
             border: 2px noir;
    }
        <tr>
            <td> rowspan="2">un tableau</td>
            <td> colspan="2">à 6</td>
        </tr>
        <tr>
            <td colspan="2">cases</td>
        </tr>
    </table>

    <p class="italic">Voici la deuxième partie</p>
    <p class="red bold">Une liste</p>
    <ol>
        <li>premier point
            <ul>
                <li>rubrique 1</li>
                <li>rubrique 2</li>
            </ul>
        </li>
        <li>2e point</li>
        <li>3e point
            <ul>
                <li>rubrique 1</li>
                <li>rubrique 2</li>
            </ul>
        </li>
    </ol>

    <p class="bold">Voici la troisième partie :</p>
    <table>
        <tr>
            <td colspan="4">un autre tableau</td>
        </tr>
        <tr>
            <td rowspan="2"></td>
            <td rowspan="2"></td>
            <td rowspan="2"></td>
            <td>
                <table>
                    <tr>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    
</body>
</html>
